<?xml version="1.0"?>
<robot name="basic_shapes">

  <link name="base_link">
    <visual>
        <geometry>
            <box size="1.0 1.0 0.2"/>
        </geometry>
    </visual>
  </link>

  <link name="link1">
    <visual>
      <geometry>
        <box size="1 1 1"/>
      </geometry>
    </visual>
  </link>
  
  <joint name="joint1" type="fixed">
    <parent link="base_link"/>
    <child link="link1"/>
  </joint>
</robot>