<?xml version="1.0"?>
<robot name="p3dx" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:include filename="$(find rasbot_description)/urdf/p3dx_materials.urdf.xacro"/>
  <xacro:include filename="$(find rasbot_description)/urdf/p3dx_base.urdf.xacro"/>
  <xacro:include filename="$(find rasbot_description)/urdf/p3dx_wheels.urdf.xacro"/>
  <xacro:include filename="$(find rasbot_description)/urdf/p3dx_caster.urdf.xacro"/>
  <xacro:include filename="$(find rasbot_description)/urdf/p3dx_sonars.urdf.xacro"/>
  <xacro:include filename="$(find rasbot_description)/urdf/rplidar_macro.urdf.xacro"/>

  <xacro:p3dx_base name="p3dx"/>
  <xacro:p3dx_wheel suffix="left"  reflect="1"/>
  <xacro:p3dx_wheel suffix="right" reflect="-1"/>
  <xacro:p3dx_caster/>
  <xacro:p3dx_sonars/>
  <xacro:rplidar 
        name="rplidar"
        parent_link="top_plate"
        mass="0.01"
        radius="0.015"
        length="0.01">
    <origin xyz="0.15 0.0 0.047" rpy="0 0 ${pi}"/>
  </xacro:rplidar>

   <link name="gps_link"/>
  <joint name="gps_joint" type="fixed">
      <origin xyz="-0.05 0 0.05" rpy="0 0 0"/>
      <parent link="base_link"/>
      <child link="gps_link"/>
  </joint>

  <link name="imu_link"/>
  <joint name="imu_joint" type="fixed">
      <parent link="base_link"/>
      <child link="imu_link"/>
      <origin xyz="0.0 0 0.068" rpy="0 0 0"/>
  </joint>
        
</robot>