<?xml version="1.0"?>
<robot name="p3dx_base" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:include filename="$(find rasbot_description)/urdf/p3dx_materials.urdf.xacro"/>
  <xacro:p3dx_materials/>

  <xacro:macro name="p3dx_base" params="name">

    <link name="base_link">
      <xacro:box_inertial x="0.36" y="0.26" z="0.18" mass="9.0" />

      <visual>
        <origin xyz="-0.045 0 0.148" rpy="0 0 0"/>
        <geometry>
          <mesh filename="package://rasbot_description/meshes/p3dx/chassis.stl"/>
        </geometry>
        <material name="ChassisRed"/>
      </visual>

      <collision>
        <origin xyz="-0.045 0 0.148" rpy="0 0 0"/>
        <geometry>
          <mesh filename="package://rasbot_description/meshes/p3dx/chassis.stl"/>
        </geometry>
      </collision>
    </link>

     <link name="top_plate">
      <xacro:box_inertial x="0.445" y="0.38" z="0.01" mass="1.0" />
  
      <visual>
        <origin xyz="0 0 0"/>
        <geometry>
          <mesh filename="package://rasbot_description/meshes/p3dx/top.stl"/>
        </geometry>
        <material name="TopBlack"/>
      </visual>
      <collision>
        <origin xyz="0.0 0 0.0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="package://rasbot_description/meshes/p3dx/top.stl"/>
        </geometry>
      </collision>
    </link>

    <joint name="base_top_joint" type="fixed">
      <origin xyz="-0.045 0 0.234" rpy="0 0 0"/>
      <parent link="base_link"/>
      <child link="top_plate"/>
    </joint>
    
  </xacro:macro>

</robot>