<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="p3dx_materials" params="">

    <material name="ChassisRed">
      <color rgba="0.851 0.000 0.000 1.0"/>
    </material>

    <material name="TopBlack">
      <color rgba="0.038 0.038 0.038 1.0"/>
    </material>

    <material name="WheelBlack">
      <color rgba="0.117 0.117 0.117 1.0"/>
    </material>

    <material name="CasterGrey">
      <color rgba="0.500 0.500 0.500 1.0"/>
    </material>

    <material name="HubcapYellow">
      <color rgba="1.000 0.811 0.151 1.0"/>
    </material>

    <material name="SonarYellow">
      <color rgba="0.715 0.583 0.210 1.0"/>
    </material>

  </xacro:macro>

  <xacro:macro name="sphere_inertial" params="radius mass">
    <inertial>
      <mass value="${mass}" />
      <origin xyz="0 0 0" />
      <inertia ixx="${0.4 * mass * radius * radius}" ixy="0.0" ixz="0.0" iyy="${0.4 * mass * radius * radius}" iyz="0.0" izz="${0.4 * mass * radius * radius}" />
    </inertial>
  </xacro:macro>

  <xacro:macro name="cylinder_inertial" params="radius length mass">
    <inertial>
      <mass value="${mass}" />
      <origin xyz="0 0 0" />
      <inertia ixx="${0.0833333 * mass * (3 * radius * radius + length * length)}" ixy="0.0" ixz="0.0" iyy="${0.0833333 * mass * (3 * radius * radius + length * length)}" iyz="0.0" izz="${0.5 * mass * radius * radius}" />
    </inertial>
  </xacro:macro>

  <xacro:macro name="box_inertial" params="x y z mass">
    <inertial>
      <mass value="${mass}" />
      <origin xyz="0 0 0" />
      <inertia ixx="${0.0833333 * mass * (y*y + z*z)}" ixy="0.0" ixz="0.0" iyy="${0.0833333 * mass * (x*x + z*z)}" iyz="0.0" izz="${0.0833333 * mass * (x*x + y*y)}" />
    </inertial>
  </xacro:macro>
</robot>